<%- include ('header') %>
    <h2>Clear Games</h2>
    <h3>
        <%= msg[0] %>
    </h3>
    <form method="post" role="form">
        <div class="form-group">
            <label for="time">Enter an time (epoch):</label>
            <input type="text" id="time" name="time" class="form-control"><br>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control"><br>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Clear Entries">
        </div>
    </form>
    <%- include ('footer') %>