<!-- Junyu Yan
CSE 270 E
Final Project
Jan 24th -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Management Board</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body class="container">
    <h1>Management</h1>