<%- include ('header') %>



    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/manage/statistics">Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manage/games">All Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manage/inProgress">In Progress Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manage/orphanedGame">Orphaned Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manage/clear">Clear Games</a>
        </li>
    </ul>



    <%- include ('footer') %>